include requirements.txt
recursive-include construction_management_suite/fixtures *.json
recursive-include construction_management_suite/public *
recursive-include construction_management_suite/templates *
